.blueprints {
  display: flex;
  align-items: wrap;
  padding: 3rem 5rem;
  width: 100%;
  justify-content: space-evenly;
}

.col {
  flex: 0 0 calc(33.333% - 1em);
  margin-right: 1em;
  padding: 1;
 }

.blueprintSvg {
  height: 200px;
  width: 200px;
  padding: 1.5rem;
}
