.blueprints {
  display: flex;
  align-items: wrap;
  padding: 3rem 5rem;
  width: 100%;
  justify-content: space-evenly;
}

.col {
  flex: 0 0 calc(33.333% - 1em);
  margin-right: 1em;
  padding: 1;
 }

.blueprintSvg {
  height: 100px;
  width: 200px;
  padding: 1.5rem;
}


.blueprintBox {
  background-color: #452062;
  border-radius: 10px ;
  transition: 'box-shadow 0.3s ease';
}

.blueprintLink {
  color: #452062;
  text-decoration: none;
}

.blueprintTitle {
 color: #13a4eb;
  margin-top: -1.5em;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1em;
}


.blueprintLabel {
  color: #fff;
   font-size: 1em;
   line-height: 1em;
   padding-bottom: 1em;
 }